
body {
	text-align: center;
	background: url('gaming-pattern/gaming-pattern.png');

}

.col-lg-7, .col-lg-4 {
	background-color: white;
}




#my-profile-image {
	margin-right: 10px;
	margin-bottom: 10px;
}


#page-content {
	margin: 20px;
	border: solid 1px lightgrey;
}

#page-aside {
	margin: 20px;
	border: solid 1px lightgrey;	
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  border-top: solid 5px teal;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

